<div *ngIf="chosen_stada" class="row">
  <div class="col-12 mt-1 mb-1">
    <div class="card">
      <h5 class="card-header"><span>{{ chosen_stada }} </span> <button type="button"
          class="btn btn-outline-secondary float-right" (click)="deleteChosenStadaId()">Go Back</button></h5>
      <div class="card-body">
        <!-- Info gives short overview if there is any elevator or escalator out of order by signaling with an orange background -->
        <h5 class="card-title">Info: <span class="text-success">WORKING </span> <span class="text-danger"> OUT OF
            ORDER</span>
        </h5>
        <div class="list-group">
          <li *ngFor="let fasta of fastas"
            [ngClass]="['list-group-item', fasta.state === 'ACTIVE' ? 'list-group-item-success' : 'list-group-item-danger']">
            {{fasta.type}} : {{ fasta.description}}
          </li>
        </div>

      </div>
    </div>
  </div>
</div>