<div class="container">
  <div class="row">
    <div class="col-12">
      <form (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">
        <div class="form-group mt-4">
          <div class="input-group">
            <input ngModel type="text" class="form-control form-control-lg" name="searchString"
              placeholder="search for train stations...">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="submit" id="button-addon">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div *ngFor="let stada of stadas" class="col-12 col-md-6 col-xl-3 mt-1 mb-1">
        <div class="card">
          <h5 class="card-header">{{stada.name}}</h5>
          <div class="card-body">
            <!-- Info gives short overview if there is any elevator or escalator out of order by signaling with an orange background -->
            <h5 class="card-title">Info</h5>
            <p class="card-text">SOME PLACEHOLDERCONTENT</p>
            <a href="#" class="btn btn-info">Detail {{ stada.number }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>